.Chats {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;
  overflow-y: scroll;
}
.Chat {
  margin: 1rem 0;
  color: #fff;
  padding: 1rem;
  background: linear-gradient(90deg, #1986d8, #7b9cc2);
  max-width: 90%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.Chat.is-user-msg {
  margin-left: auto;
  background: #2b2c33;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  cursor: copy;
}
span.Chat.is-user-msg:after {
  content: "x";
  position: relative;
  top: -10px;
  right: -10px;
  border: 1px solid white;
  padding: 2px;
  border-radius: 30%;
}
.Chat__del_msg {
  color: lightcyan;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  border: 1px solid white;
  font-size: 12px;
  padding: 2px;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  transition: all 2ms ease-in;
}
.Chat__del_msg:hover {
  color: red;
  border-color: yellow;
  transform: scale(1.2, 1.2);
  transition: all 200ms ease-in;
}

@media (min-width: 576px) {
  .Chat {
    max-width: 60%;
  }
}
